{{!-- loop over each post --}}
            {{#each blogPosts as |blogPost| }}
            <div class="p-2 bd-highlight">
                <div class="card-body">
                    <h5 class="card-title">{{blogPosts.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{blogPosts.User.username}}</h6>
                        <p class="card-text">{{blogPosts.content}}</p>
                </div>
                <div class="card-footer text-muted">
                    {{blogPosts.dateCreated}}
                </div>                        
            </div>
            {{/each}}



