{{#each userPosts as |post|}}
    <div class="p-2 bd-highlight">
        <div class="card-body">
            <h5 class="card-title">{{userPosts.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{userPosts.User.username}}</h6>
                <p class="card-text">{{userPosts.content}}</p>
        </div>
        <div class="card-footer text-muted">
            {{userPosts.dateCreated}}
        </div>                        
    </div>
{{/each}}
