    <h1 class="display-6 text-center">Recent Posts</h1>
        <div class="d-flex align-items-center flex-column bd-highlight" id="posts-container">
        {{!-- add posts partial here --}}
        {{> blog }}
        </div>
