{{!-- loop over each comment --}}
{{#each comments as |comment| }}
<div class="container">
    <div class="list-group">
        {{!-- render comments ... want to sort by date created, ideally --}}
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{comment.title}}</h5>
            <small>{{comment.date_created}}</small>
        </div>
        <p class="mb-1">{{comment.body}}</p>
        <small>{{comment.user_name}}</small>
    </div>
</div>
{{/each}}

{{!-- need to add btn to add new comment ... redirect to new page or render on homepage somehow? add here or on main.handlebars? also need to add code for routing to do this --}}

{{!-- {{#if !logged_in}}
    <div class="jumbotron">
        <h1 class="display-3">Welcome to the blog.</h1>
        <p class="lead">Please login or register to continue.</p>
        <hr class="my-2"
            <div class="container">
                {{!-- <label for="register-btn" class="col-sm-2 col-form-label">Register for an account</label> --}}
                <button type="submit" class="btn btn-info mb-2" id="register">Register</button>
                <button type="submit" class="btn btn-primary mb-2" id="goto-login">Log In</button>
            </div>
    </div>
{{/if}} --}}
